<html>

<style>
    .text {
        color: black;
        font-family: 'Times New Roman', Times, serif;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
</style>
<body>
    <div class="text">
        <h2>
            <p class="font-weight-bold">You were successfully logged in.!</p>
        </h2>
        <h4>
            <p class="font-weight-light">You are ready to go!</p>
        </h4>
        <br />
        <button onclick="window.location.href = '/';" type="button" class="btn btn-outline-dark">Return Home</button>
    </div>
</body>
</html>