@model LoginViewModel
<br />
<br />
<h2><p class="font-weight-bold">Please fill in your personal details to log in.</p></h2>
<br />
<style>
    input {
        width: 100% !important;
        padding: 12px 20px !important;
        margin: 8px 0 !important;
        display: inline-block !important;
        border: 1px solid #ccc !important;
        border-radius: 4px !important;
        box-sizing: border-box !important;
    }

    .font-weight-light {
        font-size: 20px !important;
        font-weight: bold !important;
    }
</style>
@Html.ValidationSummary(true)
<form asp-controller="Account" asp-action="Login" method="post" role="form">
    <div>
        <p class="font-weight-light">Username</p>
        <input type="text" asp-for="UserName" placeholder="Enter Your Username" />
        <span asp-validation-for="UserName"></span>
    </div>
    <br />
    <div>
        <p class="font-weight-light">Password</p>
        <input type="password" asp-for="Password" placeholder="Enter Your Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <br />
    <button class="btn btn-outline-success" type="submit">Login</button>     <button onclick="window.location.href = '/Account/Register';" type="button" class="btn btn-outline-dark">Register</button>
</form>
